@use "./variables" as v;
@use "./mixins";


footer {
    padding: 40px 8% 25px;
    background-color: v.$dark-bg;
}



.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;

    padding-bottom: 30px;

    a {
        color: v.$white;
        font-size: 13px;

        &:hover {
            color: v.$green;
        }
    }
}



.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 25px;
}



.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 35px;
        height: 35px;
    }

    span {
        color: v.$white;
        font-size: 18px;
    }
}


.social-links {
    display: flex;
    gap: 10px;
    a {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid v.$text-light;
        border-radius: 50%;
        color: v.$white;
        font-size: 10px;
        &:hover {
            background-color: v.$green;
        }
    }
}



.copyright {
    color: v.$text-light;
    font-size: 11px;
}


