$dark-bg: #0b0f1c;
$card-bg:#151a2a;
$white:#fff;
$text-light:#a7aab5;

$green: #20c875;
$blue: #1688e5;
$yellow: #ffd21c;
$red: #ed0717;

$container-width: 1200px;

$card-radius: 8px;
$large-radius: 60px;

